* {
  font-weight: 500;
}

.logo {
  height: 64px;
  padding: 0 24px;
  overflow: hidden;
  line-height: 64px;
  white-space: nowrap;
}

.logo > img {
  vertical-align: middle;
  height: 32px;
  width: 32px;
  margin-right: 24px;
}

.logo > span {
  color: wheat;
}

.ant-layout-footer > code {
  line-height: initial;
}
